<div *ngIf="viewMode; else editable">
    <div *ngIf="currentMatch.id">
      <h4>Mecz piłkarski</h4>
      <div>
        <label><strong>Data:</strong></label> {{ currentMatch.date }}
      </div>
      <div>
        <label><strong>Wynik:</strong></label> {{ currentMatch.result }}
      </div>
      <div>
        <label><strong>Gospodarz:</strong></label> {{ currentMatch.homeClub }}
      </div>
      <div>
        <label><strong>Goście:</strong></label> {{ currentMatch.awayClub }}
      </div>
      <div>
        <label><strong>Bramkarz gości:</strong></label> {{ currentMatch.awayGoalkeeper }}
      </div>
      <div>
        <label><strong>Lewy obrońca gości:</strong></label> {{ currentMatch.awayLeftBack }}
      </div>
      <div>
        <label><strong>Lewy środkowy obrońca gości:</strong></label> {{ currentMatch.awayLeftCenterBack }}
      </div>
      <div>
        <label><strong>Prawy środkowy obrońca gości:</strong></label> {{ currentMatch.awayRightCenterBack }}
      </div>
      <div>
        <label><strong>Prawy obrońca gości:</strong></label> {{ currentMatch.awayRightBack }}
      </div>
      <div>
        <label><strong>Lewy pomocnik gości:</strong></label> {{ currentMatch.awayLeftMidfielder }}
      </div>
      <div>
        <label><strong>Lewy środkowy pomocnik gości:</strong></label> {{ currentMatch.awayLeftCenterMidfielder }}
      </div>
      <div>
        <label><strong>Prawy środkowy pomocnik gości:</strong></label> {{ currentMatch.awayRightCenterMidfielder }}
      </div>
      <div>
        <label><strong>Prawy pomocnik gości:</strong></label> {{ currentMatch.awayRightMidfielder }}
      </div>
      <div>
        <label><strong>Lewy napastnik gości:</strong></label> {{ currentMatch.awayLeftStriker }}
      </div>
      <div>
        <label><strong>Prawy napastnik gości:</strong></label> {{ currentMatch.awayRightStriker }}
      </div>
      <div>
        <label><strong>Bramkarz gospodarzy:</strong></label> {{ currentMatch.homeGoalkeeper }}
      </div>
      <div>
        <label><strong>Lewy obrońca gospodarzy:</strong></label> {{ currentMatch.homeLeftBack }}
      </div>
      <div>
        <label><strong>Lewy środkowy obrońca gospodarzy:</strong></label> {{ currentMatch.homeLeftCenterBack }}
      </div>
      <div>
        <label><strong>Prawy środkowy obrońca gospodarzy:</strong></label> {{ currentMatch.homeRightCenterBack }}
      </div>
      <div>
        <label><strong>Prawy obrońca gospodarzy:</strong></label> {{ currentMatch.homeRightBack }}
      </div>
      <div>
        <label><strong>Lewy pomocnik gospodarzy:</strong></label> {{ currentMatch.homeLeftMidfielder }}
      </div>
      <div>
        <label><strong>Lewy środkowy pomocnik gospodarzy:</strong></label> {{ currentMatch.homeLeftCenterMidfielder }}
      </div>
      <div>
        <label><strong>Prawy środkowy pomocnik gospodarzy:</strong></label> {{ currentMatch.homeRightCenterMidfielder }}
      </div>
      <div>
        <label><strong>Prawy pomocnik gospodarzy:</strong></label> {{ currentMatch.homeRightMidfielder }}
      </div>
      <div>
        <label><strong>Lewy napastnik gospodarzy:</strong></label> {{ currentMatch.homeLeftStriker }}
      </div>
      <div>
        <label><strong>Prawy napastnik gospodarzy:</strong></label> {{ currentMatch.homeRightStriker }}
      </div>
      <a
        class="badge badge-warning"
        routerLink="/matches/{{ currentMatch.id }}"
      >
        Edytuj
      </a>
    </div>
    <div *ngIf="!currentMatch">
      <br />
      <p>Proszę wybrać spotkanie...</p>
    </div>
  </div>
  <ng-template #editable>
    <div *ngIf="currentMatch.id" class="edit-form">
      <h4>Mecz</h4>
      <form>
        <div class="form-group">
          <label for="date">Data</label>
          <input
          type="text"
          class="form-control"
          id="date"
          required
          [(ngModel)]="currentMatch.date"
          name="date"
          />
        </div>
        <div class="form-group">
          <label for="result">Wynik</label>
          <input
          type="text"
          class="form-control"
          id="result"
          required
          [(ngModel)]="currentMatch.result"
          name="result"
          />
        </div>
        <div class="form-group">
          <label for="homeClub">Gospodarz</label>
          <input
          type="text"
          class="form-control"
          id="homeClub"
          required
          [(ngModel)]="currentMatch.homeClub"
          name="homeClub"
          />
        </div>
        <div class="form-group">
          <label for="awayClub">Goście</label>
          <input
          type="text"
          class="form-control"
          id="awayClub"
          required
          [(ngModel)]="currentMatch.awayClub"
          name="awayClub"
          />
        </div>
        <div class="form-group">
          <label for="awayGoalkeeper">Bramkarz gości</label>
          <input
          type="text"
          class="form-control"
          id="awayGoalkeeper"
          required
          [(ngModel)]="currentMatch.awayGoalkeeper"
          name="awayGoalkeeper"
          />
        </div>
        <div class="form-group">
          <label for="awayLeftBack">Lewy obrońca gości</label>
          <input
          type="text"
          class="form-control"
          id="awayLeftBack"
          required
          [(ngModel)]="currentMatch.awayLeftBack"
          name="awayLeftBack"
          />
        </div>
        <div class="form-group">
          <label for="awayLeftCenterBack">Lewy środkowy obrońca gości</label>
          <input
          type="text"
          class="form-control"
          id="awayLeftCenterBack"
          required
          [(ngModel)]="currentMatch.awayLeftCenterBack"
          name="awayLeftCenterBack"
          />
        </div>
        <div class="form-group">
          <label for="awayRightCenterBack">Prawy środkowy obrońca gości</label>
          <input
          type="text"
          class="form-control"
          id="awayRightCenterBack"
          required
          [(ngModel)]="currentMatch.awayRightCenterBack"
          name="awayRightCenterBack"
          />
        </div>
        <div class="form-group">
          <label for="awayRightBack">Prawy obrońca gości</label>
          <input
          type="text"
          class="form-control"
          id="awayRightBack"
          required
          [(ngModel)]="currentMatch.awayRightBack"
          name="awayRightBack"
          />
        </div>
        <div class="form-group">
          <label for="awayLeftMidfielder">Lewy pomocnik gości</label>
          <input
          type="text"
          class="form-control"
          id="awayLeftMidfielder"
          required
          [(ngModel)]="currentMatch.awayLeftMidfielder"
          name="awayLeftMidfielder"
          />
        </div>
        <div class="form-group">
          <label for="awayLeftCenterMidfielder">Lewy środkowy pomocnik gości</label>
          <input
          type="text"
          class="form-control"
          id="awayLeftCenterMidfielder"
          required
          [(ngModel)]="currentMatch.awayLeftCenterMidfielder"
          name="awayLeftCenterMidfielder"
          />
        </div>
        <div class="form-group">
          <label for="awayRightCenterMidfielder">Prawy środkowy pomocnik gości</label>
          <input
          type="text"
          class="form-control"
          id="awayRightCenterMidfielder"
          required
          [(ngModel)]="currentMatch.awayRightCenterMidfielder"
          name="awayRightCenterMidfielder"
          />
        </div>
        <div class="form-group">
          <label for="awayRightMidfielder">Prawy pomocnik gości</label>
          <input
          type="text"
          class="form-control"
          id="awayRightMidfielder"
          required
          [(ngModel)]="currentMatch.awayRightMidfielder"
          name="awayRightMidfielder"
          />
        </div>
        <div class="form-group">
          <label for="awayLeftStriker">Lewy napastnik gości</label>
          <input
          type="text"
          class="form-control"
          id="awayLeftStriker"
          required
          [(ngModel)]="currentMatch.awayLeftStriker"
          name="awayLeftStriker"
          />
        </div>
        <div class="form-group">
          <label for="awayRightStriker">Prawy napastnik gości</label>
          <input
          type="text"
          class="form-control"
          id="awayRightStriker"
          required
          [(ngModel)]="currentMatch.awayRightStriker"
          name="awayRightStriker"
          />
        </div>
        <div class="form-group">
          <label for="homeGoalkeeper">Bramkarz gospodarzy</label>
          <input
          type="text"
          class="form-control"
          id="homeGoalkeeper"
          required
          [(ngModel)]="currentMatch.homeGoalkeeper"
          name="homeGoalkeeper"
          />
        </div>
        <div class="form-group">
          <label for="homeLeftBack">Lewy obrońca gospodarzy</label>
          <input
          type="text"
          class="form-control"
          id="homeLeftBack"
          required
          [(ngModel)]="currentMatch.homeLeftBack"
          name="homeLeftBack"
          />
        </div>
        <div class="form-group">
          <label for="homeLeftCenterBack">Lewy środkowy obrońca gospodarzy</label>
          <input
          type="text"
          class="form-control"
          id="homeLeftCenterBack"
          required
          [(ngModel)]="currentMatch.homeLeftCenterBack"
          name="homeLeftCenterBack"
          />
        </div>
        <div class="form-group">
          <label for="homeRightCenterBack">Prawy środkowy obrońca gospodarzy</label>
          <input
          type="text"
          class="form-control"
          id="homeRightCenterBack"
          required
          [(ngModel)]="currentMatch.homeRightCenterBack"
          name="homeRightCenterBack"
          />
        </div>
        <div class="form-group">
          <label for="homeRightBack">Prawy obrońca gospodarzy</label>
          <input
          type="text"
          class="form-control"
          id="homeRightBack"
          required
          [(ngModel)]="currentMatch.homeRightBack"
          name="homeRightBack"
          />
        </div>
        <div class="form-group">
          <label for="homeLeftMidfielder">Lewy pomocnik gospodarzy</label>
          <input
          type="text"
          class="form-control"
          id="homeLeftMidfielder"
          required
          [(ngModel)]="currentMatch.homeLeftMidfielder"
          name="homeLeftMidfielder"
          />
        </div>
        <div class="form-group">
          <label for="homeLeftCenterMidfielder">Lewy środkowy pomocnik gospodarzy</label>
          <input
          type="text"
          class="form-control"
          id="homeLeftCenterMidfielder"
          required
          [(ngModel)]="currentMatch.homeLeftCenterMidfielder"
          name="homeLeftCenterMidfielder"
          />
        </div>
        <div class="form-group">
          <label for="homeRightCenterMidfielder">Prawy środkowy pomocnik gospodarzy</label>
          <input
          type="text"
          class="form-control"
          id="homeRightCenterMidfielder"
          required
          [(ngModel)]="currentMatch.homeRightCenterMidfielder"
          name="homeRightCenterMidfielder"
          />
        </div>
        <div class="form-group">
          <label for="homeRightMidfielder">Prawy pomocnik gospodarzy</label>
          <input
          type="text"
          class="form-control"
          id="homeRightMidfielder"
          required
          [(ngModel)]="currentMatch.homeRightMidfielder"
          name="homeRightMidfielder"
          />
        </div>
        <div class="form-group">
          <label for="homeLeftStriker">Lewy napastnik gospodarzy</label>
          <input
          type="text"
          class="form-control"
          id="homeLeftStriker"
          required
          [(ngModel)]="currentMatch.homeLeftStriker"
          name="homeLeftStriker"
          />
        </div>
        <div class="form-group">
          <label for="homeRightStriker">Prawy napastnik gospodarzy</label>
          <input
          type="text"
          class="form-control"
          id="homeRightStriker"
          required
          [(ngModel)]="currentMatch.homeRightStriker"
          name="homeRightStriker"
          />
        </div>
      </form>
      <button class="badge badge-danger mr-2" (click)="deleteMatch()">
        Usuń
      </button>
      <button
        type="submit"
        class="badge badge-success mb-2"
        (click)="updateMatch()"
      >
        Aktualizuj
      </button>
      <p>{{ message }}</p>
    </div>
    <div *ngIf="!currentMatch.id">
      <br />
      <p>Wczytywanie...</p>
    </div>
  </ng-template>