<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Szukaj po nazwisku"
          [(ngModel)]="name"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchlastName()"
          >
            Szukaj
          </button>
        </div>
      </div>
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Szukaj po klubie"
          [(ngModel)]="club"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchclub()"
          >
            Szukaj
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Lista piłkarzy</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let player of players; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActivePlayer(player, i)"
        >
        {{ player.firstName }} {{ player.lastName }}
        </li>
      </ul>
      <button class="m-3 btn btn-sm btn-danger" (click)="removeAllPlayers()">
        Usuń wszystkich
      </button>
    </div>
    <div class="col-md-6">
      <app-player-details
        [viewMode]="true"
        [currentPlayer]="currentPlayer"
      ></app-player-details>
    </div>
  </div>